.vscode/
.ipynb_checkpoints/
__pycache__/
etc/
base_code/
save/**/2021*
save/MM*
save/exp*
mission/
wandb/

note.ipynb
my_trainer.ipynb
origin_trainer_bj.ipynb
origin_trainer_single_test.ipynb

team_wandb_trainer.ipynb
teamtrain.csv
sweep_dh.yaml
sweep_trans.yaml
